@import '../../../styles/variables.sass'

.button
        white-space: pre
        outline: 0px
        user-select: none
        transition: background 250ms
        i.fa
            margin-right: .125em

.button-panel
    display: inline-block
    margin: 0px auto
    text-align: center
    color: $color-font
    text-decoration: none
    line-height: 14px
    height: 28px
    padding: 6px
    vertical-align: middle
    font-size: 12px
    border: 1px solid $color-lightest
    border-bottom-color: $color-darker
    border-right-color: $color-darker
    background: linear-gradient(0deg, $color-light 0%, $color-lightest 100%)
    font-weight: bold

    &:hover
        background: linear-gradient(0deg, $color-lightest 0%, $color-light 100%)
